{% extends "sidebar/sidebar.html" %}
{% load static %}
{% block title %}Servicios{% endblock %}
{% block title_1 %}
<div class="icons"><i class='bx bx-dollar icon'></i>
    <span class="text nav-text p-1">Planes</span></div>
{% endblock %}
{% block content %}

<div class="container p-5 bg-container container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <button id="btnNuevoServicios" type="button" class="btn btn-outline-success my-3">Nuevo Servicio</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="Servicios" class="table table-hover table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>IdServicio</th>
                                    <th>Monto</th>
                                    <th>Tipo Plan</th>
                                    <th>Cantidad Megas</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tablaServicios">
                                <tr>
                                    <td><button class="btn btn-outline-primary btnEditar"
                                            data-servicio-id="{{ servicio.idServicio }}">
                                            <i class="bx bx-edit"></i> Editar
                                        </button>
                                        <button class="btn btn-outline-danger btnEliminar"
                                            data-servicio-id="{{ servicio.idServicio }}">
                                            <i class="bx bx-delete"></i> Eliminar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal para Nuevo Servicio -->
<div class="modal fade" id="modalNuevoServicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo Servicio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" class="form-group" id="formServicios">
                    {% csrf_token %}
                    {{ form_servicios.as_p }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" id="btnSubmit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar servicio -->
<div class="modal fade" id="modalEdicionServicio" tabindex="-1" role="dialog"
    aria-labelledby="modalEdicionServicioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEdicionServicioLabel">Editar Servicio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formEdicion" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="form-edicion-id" name="id" value="">
                    <div class="mb-3">
                        {{ form_servicios.as_p }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" id="btnSubmit" class="btn btn-primary">Guardar</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper.js (si es necesario) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

<!-- sweetalert JS -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="{% static 'js/Servicios.js' %}"></script>
</body>

</html>
{% endblock %}